<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/user.js"></script>
</head>
<body>

<div class="container">
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6 col-sm-offset-3">
            <table class="table table-bordered">
                <thead>
                    <tr class="warning">
                        <th>UserName</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in user %}
                        <tr class="info">
                            <td>{{ u.username }}</td>
                            <td>{{ u.message }}</td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="text-center">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#userModal">Add User</button>
        
    </div>
<!-- Modal -->
    <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog text-center" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Add User</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" onsubmit="return $.form_submit()" action={% url 'adduser'%}>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="Submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


</div>

</body>
</html>